<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Bidding</title>
    <style>
        /* Add your CSS styling here */
    </style>
</head>
<body>
    <form method="post" action="{% url 'bidding' %}">
        <div>
            <label for="currentHighestBid">Current highest price:</label>
            <input type="number" id="currentHighestBid" name="currentHighestBid" step="0.01">
        </div>
        <div>
            <label for="yourPrice">Enter Your Price:</label>
            <input type="number" id="yourPrice" name="yourPrice" step="0.01">
        </div>
        <div>
            <button type="submit">Submit</button> <br>
            <a href="{% url 'home' %}" style="margin-right: 10px;">Back to Home</a>
            <a href="{% url 'search' %}" class="btn btn-secondary ml-2">Back to Search</a>
        </div>
    </form>
</body>
</html>
